@theme {
  --color-text-body: #222224;
  --color-gold:rgb(196 163 90 / var(--tw-text-opacity, 1));
  --color-cream:rgb(250 248 245 / var(--tw-bg-opacity, 1));
  --color-main:#1a747a;
  --container-width: 1200px;

  --breakpoint-tablet: 991px;
  --breakpoint-mobile: 767px;
}
@utility color-text-body {
  color: var(--color-text-body);
}

@utility color-main {
  color: var(--color-main);
}
@utility color-blue {
  color: var(--color-blue);
}
@utility color-teal {
  color: var(--color-teal);
}

@utility bg-main {
  background-color: var(--color-main);
}

@source inline("h-[{10,20,30,40,50,60,70,80,90,100}px]");

@source inline("mt-[{10,20,30,40,50,60,70,80,90,100}px]");
@source inline("mb-[{10,20,30,40,50,60,70,80,90,100}px]");

@keyframes marquee-content {
  from {
    transform: translateX( 100% );
  }
  to {
    transform: translateX( -100% );
  }
}

.marquee-text {
  animation-duration: 10s ;
  animation-iteration-count: infinite ;
  animation-name: marquee-content ;
  animation-timing-function: linear ;
}

body {
  color: var(--color-text-body);
  background-color: var(--color-light-peach);
  font-size: 16px;
  line-height:1.5;
  font-family: 'Google Sans Flex', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
}

.font-handwriting {
  font-family: "Imperial Script", cursive;
  font-weight: 300;
  font-style: normal;
}
.text-gradient {
    -webkit-text-fill-color: transparent;
    background: linear-gradient(145deg, #ff1a6a 0%, #47cbff 100%);
    -webkit-background-clip: text;
    background-clip: text;
}

.bg-gradient {
    background: linear-gradient(90deg,#ff1a6a 0%,#47cbff 100%);
}

.container{
  max-width: var(--container-width);
  padding-left: 15px;
  padding-right: 15px;
  margin-left:auto;
  margin-right:auto;
}

.book-border{
  position:relative;
  border-radius: 20px;
  overflow:hidden;
  &:after{
    content:"";
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:linear-gradient(90deg,rgba(2,0,36,.39),rgba(0,0,0,.5) 1.83%,hsla(0,0%,100%,.36) 3.21%,rgba(0,0,0,.33) 4.72%,rgba(247,254,255,.28) 9.84%,hsla(0,0%,100%,0) 47.85%);
  }
}
.slick-dots{
  display:flex;
  justify-content: flex-end;
  gap:12px;
  width:100%;
  text-align:right;
  padding:40px 92px 0 0;
  li{
    button{
      font-size:0;
    }
    width:2px;
    height:21px;
    border-left:2px solid var(--color-text-body);
    &.slick-active{
      border-color: var(--color-blue);
    }
  }
}
.slick-arrow{
  cursor:pointer;
  position:absolute;
  z-index:10;
  top:50%;
  transform:translateY(-50%);
  width:40px;
  height:40px;
  border-radius:50%;
  background:rgba(26,116,122,0.8);
  color:#fff;
  &.slick-prev{
    left:30px;
  }
  &.slick-next{
    right:30px;
  }
}

.wysiwyg{
  p{
    margin-bottom: 1rem;
  }
  a{
    color: var(--color-main);
    text-decoration: underline;
  }
}